.about-us {
    background-color: #92dce5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .about-us .overlap-wrapper {
    background-color: #92dce5;
    height: 3000px;
    width: 1920px;
  }
  
  .about-us .overlap {
    height: 3000px;
    position: relative;
  }
  
  .about-us .overlap-group {
    height: 2389px;
    left: 0;
    position: absolute;
    top: 611px;
    width: 1920px;
  }
  
  .about-us .ellipse {
    height: 869px;
    left: 1490px;
    position: absolute;
    top: 570px;
    width: 430px;
  }
  
  .about-us .image {
    height: 736px;
    left: 1320px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 564px;
  }
  
  .about-us .col-md {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 35px;
    left: 411px;
    position: absolute;
    top: 1081px;
    width: 1144px;
  }
  
  .about-us .headline {
    color: var(--dark-background-color);
    font-family: "Outfit-Regular", Helvetica;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 80px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: 1144px;
  }
  
  .about-us .img {
    height: 834px;
    left: 0;
    position: absolute;
    top: 1555px;
    width: 895px;
  }
  
  .about-us .h-headline {
    color: var(--text-color);
    font-family: "Outfit-Regular", Helvetica;
    font-size: 48px;
    font-weight: 400;
    left: 28px;
    letter-spacing: 1.1px;
    line-height: 80px;
    position: absolute;
    text-align: center;
    top: 1262px;
    width: 1856px;
  }
  
  .about-us .content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 39px;
    height: 320px;
    left: 28px;
    padding: 0px 0px 20px;
    position: absolute;
    top: 2069px;
    width: 1872px;
  }
  
  .about-us .columns {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 100px;
    position: relative;
  }
  
  .about-us .column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
    width: 764px;
  }
  
  .about-us .info {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    position: relative;
    width: 100%;
  }
  
  .about-us .frame {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 7px;
    position: relative;
    width: 764px;
  }
  
  .about-us .text-wrapper {
    color: var(--dark-background-color);
    font-family: "Outfit-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    height: 69px;
    letter-spacing: 0.2px;
    line-height: 80px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 736px;
  }
  
  .about-us .p-s-card-paragraph {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    padding: 0px 20px 0px 0px;
    position: relative;
    width: 602px;
  }
  
  .about-us .we-are-commited-to {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    height: 110px;
    letter-spacing: 0;
    line-height: 28px;
    margin-right: -74px;
    margin-top: -1px;
    position: relative;
    width: 656px;
  }
  
  .about-us .menus {
    align-items: flex-start;
    display: flex;
    gap: 60px;
    justify-content: space-around;
    position: relative;
    width: 856px;
  }
  
  .about-us .div-s-card-text-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 60px;
    position: relative;
  }
  
  .about-us .div-s-card-text {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    height: 208px;
    justify-content: space-between;
    position: relative;
  }
  
  .about-us .div {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 7px;
    position: relative;
  }
  
  .about-us .text-wrapper-2 {
    color: #000000;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .about-us .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    padding: 0px 20px 0px 0px;
    position: relative;
  }
  
  .about-us .p {
    color: #000000;
    font-family: "Outfit-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1px;
    position: relative;
    width: 451px;
  }
  
  .about-us .frame-2 {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 7px;
    margin-top: -6px;
    position: relative;
  }
  
  .about-us .text-wrapper-3 {
    color: #000000;
    font-family: "Outfit-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    margin-top: -1px;
    position: relative;
    text-decoration: underline;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-us .line {
    align-self: stretch;
    height: 1px;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
  
  .about-us .bottom {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 532px;
    justify-content: space-around;
    position: relative;
    width: 100%;
  }
  
  .about-us .element-all-rights {
    color: #000000;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 8px;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: -1px;
    position: relative;
    text-align: right;
    white-space: nowrap;
    width: 199px;
  }
  
  .about-us .overlap-group-2 {
    height: 1347px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .about-us .ellipse-2 {
    height: 1141px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 860px;
  }
  
  .about-us .dark-theme {
    -webkit-backdrop-filter: blur(50px) brightness(100%);
    backdrop-filter: blur(50px) brightness(100%);
    background: linear-gradient(180deg, rgb(65.84, 65.84, 65.84) 0%, rgba(65.84, 65.84, 65.84, 0.4) 100%);
    border: 1px solid;
    border-color: #414141;
    box-shadow: 7px 7px 20px #00000040;
    height: 158px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .about-us .element {
    height: 147px;
    left: 114px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 151px;
  }
  
  .about-us .collapse-navbar {
    box-shadow: 0px 4px 4px #00000040;
    height: 58px;
    left: 795px;
    overflow: hidden;
    position: absolute;
    top: 50px;
    width: 1098px;
  }
  
  .about-us .navbar-nav {
    align-items: center;
    display: inline-flex;
    gap: 21px;
    left: 0;
    position: absolute;
    top: 13px;
  }
  
  .about-us .li {
    height: 32px;
    position: relative;
    width: 76px;
  }
  
  .about-us .a {
    height: 32px;
    position: relative;
    width: 78px;
  }
  
  .about-us .link {
    color: var(--light-text-color);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    left: 0;
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    position: absolute;
    text-align: right;
    top: 0;
    white-space: nowrap;
  }
  
  .about-us .a-wrapper {
    height: 32px;
    position: relative;
    width: 106px;
  }
  
  .about-us .link-wrapper {
    height: 32px;
    position: relative;
    width: 108px;
  }
  
  .about-us .link-2 {
    color: var(--light-text-color);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    left: 0;
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .about-us .li-2 {
    height: 32px;
    position: relative;
    width: 117px;
  }
  
  .about-us .a-2 {
    box-shadow: 0px 4px 4px #00000040;
    height: 32px;
    position: relative;
    width: 119px;
  }
  
  .about-us .link-3 {
    color: var(--disabled-element-color);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    left: 0;
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  
  .about-us .li-3 {
    height: 32px;
    position: relative;
    width: 101px;
  }
  
  .about-us .a-3 {
    height: 32px;
    position: relative;
    width: 103px;
  }
  
  .about-us .nav-item-wrapper {
    align-items: center;
    display: inline-flex;
    gap: 45px;
    left: 778px;
    position: absolute;
    top: -2px;
  }
  
  .about-us .nav-item {
    box-shadow: 0px 4px 4px #00000040;
    height: 62px;
    position: relative;
    width: 320px;
  }
  
  .about-us .button-btn-primary {
    align-items: center;
    background-color: #4dc5d3;
    border-radius: 5px;
    display: inline-flex;
    gap: 15px;
    overflow: hidden;
    padding: 15px 25px;
    position: relative;
  }
  
  .about-us .btn-text {
    color: var(--light-text-color);
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-us .icn-arrow-right-icn {
    height: 10px;
    position: relative;
    width: 12px;
  }
  
  .about-us .image-2 {
    height: 736px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 611px;
    width: 624px;
  }
  
  .about-us .image-3 {
    height: 736px;
    left: 701px;
    object-fit: cover;
    position: absolute;
    top: 611px;
    width: 570px;
  }
  
  .about-us .headline-wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 35px;
    left: 388px;
    position: absolute;
    top: 413px;
    width: 1144px;
  }
  