.summary-page {
  background-color: #92dce5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.summary-page .div {
  background-color: #92dce5;
  height: 1080px;
  position: relative;
  width: 1920px;
}

.summary-page .text-wrapper {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
  background-clip: text;
  color: transparent;
  font-family: "Outfit-Medium", Helvetica;
  font-size: 78px;
  font-weight: 500;
  left: 391px;
  letter-spacing: 0;
  line-height: 76px;
  position: fixed;
  text-align: center;
  text-fill-color: transparent;
  top: 311px;
  width: 1137px;
}

.summary-page .dark-theme {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  backdrop-filter: blur(50px) brightness(100%);
  background: linear-gradient(180deg, rgb(65.84, 65.84, 65.84) 0%, rgba(65.84, 65.84, 65.84, 0.4) 100%);
  border: 1px solid;
  border-color: #414141;
  box-shadow: 7px 7px 20px #00000040;
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.summary-page .element {
  height: 147px;
  left: 114px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 151px;
}

.summary-page .home-summary {
  color: transparent;
  font-family: var(--h-3-font-family);
  font-size: var(--h-3-font-size);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  left: 840px;
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 62px;
  width: 461px;
}

.summary-page .span {
  color: #ffffff;
  font-family: var(--h-3-font-family);
  font-size: var(--h-3-font-size);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
}

.summary-page .text-wrapper-2 {
  color: #8ec2f2;
  font-family: var(--h-3-font-family);
  font-size: var(--h-3-font-size);
  font-style: var(--h-3-font-style);
  font-weight: var(--h-3-font-weight);
  letter-spacing: var(--h-3-letter-spacing);
  line-height: var(--h-3-line-height);
}

.summary-page .frame {
  align-items: flex-start;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 491px;
  left: 566px;
  padding: 50px;
  position: absolute;
  top: 461px;
  width: 794px;
}

.summary-page .LOCATION-quezon-city {
  align-self: stretch;
  color: var(--text-color);
  font-family: "Outfit-Regular", Helvetica;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 1.1px;
  line-height: 80px;
  margin-bottom: -8px;
  margin-top: -1px;
  position: relative;
}
