

  .summary-page {
    background-color: #92dce5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .summary-page .div-2 {
    background-color: #92dce5;
    height: 1080px;
    position: relative;
    width: 1920px;
  }
  
  .summary-page .text-wrapper-2 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Outfit-Medium", Helvetica;
    font-size: 78px;
    font-weight: 500;
    left: 391px;
    letter-spacing: 0;
    line-height: 76px;
    position: absolute;
    text-align: center;
    text-fill-color: transparent;
    top: 311px;
    width: 1137px;
  }
  
  .summary-page .overlap-group {
    height: 158px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
  }
  
  .summary-page .dark-theme-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .summary-page .HOME-SUMMARY {
    color: transparent;
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    left: 757px;
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
    position: absolute;
    text-shadow: 0px 4px 4px #00000040;
    top: 62px;
    width: 461px;
  }
  
  .summary-page .span {
    color: #ffffff;
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
  }
  
  .summary-page .text-wrapper-3 {
    color: #8ec2f2;
    font-family: var(--h-3-font-family);
    font-size: var(--h-3-font-size);
    font-style: var(--h-3-font-style);
    font-weight: var(--h-3-font-weight);
    letter-spacing: var(--h-3-letter-spacing);
    line-height: var(--h-3-line-height);
  }

  